{% extends "layout.html" %}

{% block center %}
  {% if errors.length %}
    <div class=" alert alert-danger animated fadeIn">
      {% for error in errors %}
        <div>{{error.msg}}</div>
			{% endfor %}
		</div>
	{% endif %}
	
  <form class="form-horizontal" id="signup-form" method="POST">
    <legend>Signup</legend>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="email">Email</label>
      <div class="col-sm-7">
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus="true">
			</div>
		</div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="username">Password</label>
      <div class="col-sm-7">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
			</div>
		</div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="username">Confirm Password</label>
      <div class="col-sm-7">
        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
			</div>
		</div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button class="btn btn-success" type="submit">
          <i class="fa fa-check"></i>Signup
				</button>
			</div>
		</div>
	</form>
{% endblock %}