
<script type="text/javascript" charset="utf-8">

/**
 * This block of code
 * serves an idiosyncratic purpose
 * 
 * It grabs all track nodes
 * and stores their markup into
 * input[data-encodedobjhtml], then 
 * synchronously checks each iCheck
**/
var tracks = document.querySelectorAll('li.track');
var tracksLen = tracks.length;
var inputs = document.querySelectorAll('li.track input[type="checkbox"]');

for (var i = 0; i < tracksLen; i++) {
	inputs.item(i).dataset.encodedobjhtml = encodeURIComponent(tracks.item(i).outerHTML.toString()); 
}
$(inputs).iCheck({
  checkboxClass: 'icheckbox_square-blue',
  increaseArea: '300%', // optional
	aria: false
});
$('div.icheckbox_square-blue').addClass('checked');
$('div.icheckbox_square-blue input').prop('checked', true);;
</script>
