
<script type="text/javascript" charset="utf-8">

/**
 * Accesses cachedTrackObj(DB) and appends results .playlist
 *
 * Grabs all track nodes
 * and stores their markup into
 * input[data-encodedobjhtml], then
 * synchronously checks each iCheck
 *
 * Also goes through, sees if usersProfile == user
 * then does the appropriate iChecks
**/

var setList = [{{usersProfile.setList}}]
	
for (var i = 0; i < setList.length; i++) {
	var resourceID = setList[i].toString();
	$.ajax({
		type: 'GET',
		url: '/getCachedTrackObj/' +resourceID,
		async: false,
		success: function(trackObj) {
			$('ul.playlist').append(trackObj.encodedObjHTML);
		}
	});
}

var theTrackSet = [{{user.musicCollection.trackSets.list[0].setList}}];//'theTrackSet' (used for comparison)
var theTrackSetLen = theTrackSet.length;
var setList = [];//ids on the page. Number type
var setListDOMNodes = document.querySelectorAll('li.track');
var setListLen = setListDOMNodes.length;
var inputs = document.querySelectorAll('li.track input');

for (var i = 0; i < setListLen; i++) {//setList
	setList.push(parseInt(inputs[i].id));
}
for (var i = 0; i < setListLen; i++) {//flash encodedobjhtml into li.track input[i]
	inputs.item(i).dataset.encodedobjhtml = encodeURIComponent(setListDOMNodes.item(i).outerHTML.toString());
}
$('li.track a input').attr('data-permid', 0);//flash permID into track
$(inputs).iCheck({//instantiate iCheck
  checkboxClass: 'icheckbox_square-blue',
  increaseArea: '300%',
	aria: false
});
for (var i = 0; i < setListLen; i++) {//compare and iCheck any that match theTrackSet
	if(theTrackSet.indexOf(setList[i]) !== -1) {//match?
		var tempDiv = $('div.icheckbox_square-blue');           //!REFACTOR
		var tempDivInput = $('div.icheckbox_square-blue input');//!REFACTOR
		$(tempDiv[i]).addClass('checked');                      //!REFACTOR
		$(tempDivInput[i]).prop('checked', true);               //!REFACTOR
	}
};
function cutAndTape(e) {//e is the event
	if ('{{usersProfile.username}}' === '{{user.username}}') {//if user's TS, let CUT & TAPE tracks
		var toggle = true;
		var selectedLength = $('.selected').length;
		
		if (selectedLength > 0) {
			e.preventDefault();//prevent nav back in when a T in your own TS is selected
			if (toggle) {
				var selectedTracks = []
				for each push id&permID into selectedTracks and call this on it indiviaully....
					$.ajax({//delete from trackSet
						async: false,
						type: 'POST',
						url: '/' +username+ '/sort/' +permID,
						data: setListStringified,
						contentType: 'application/json',
						success: function(data) {
							//addClass('skipOver')
						}
					});
				toggle = false
			}
			//else {//toggle is 'false'; add to TS
				//get .selected, and their indexes
				//API: postTrackSet
					//success
						//$('.selected.skipOver').removeClass('skipOver')
						//toggle = true;
			//}
		}
	}
}

if ('{{usersProfile.username}}' === '{{user.username}}') {//if user's TS, let SORT tracks
	$('.playlist').sortable({//initialize
		opacity: 0.97,
		tolerance: 'pointer',
		cursor: 'move',
		start: function(event, ui) {
			ui.placeholder.css({visibility: 'visible', background: '#eee'});
		},
		update: function(event, ui) {
			
			var inputs = document.querySelectorAll('li.track input');
			var setList = [];
			var setListStringified;
			var username = '{{usersProfile.username}}';
			var permID = $('#trackSetName').attr('data-permid');
			for (var i = 0; i < inputs.length; i++) {
				setList.push(parseInt(inputs[i].id));
			}
			setListStringified = JSON.stringify({setList: setList});//gotta do this to pass in $.ajax
			$.ajax({
				async: false,
				type: 'POST',
				url: '/' +username+ '/sort/' +permID,
				data: setListStringified,
				contentType: 'application/json',
				success: function(data) {
				}
			});
	  }
	});
}
</script>
