
<script type="text/javascript" charset="utf-8">

/**
 * Accesses cachedTrackObj(DB) and appends results .playlist
 *
 * Grabs all track nodes
 * and stores their markup into
 * input[data-encodedobjhtml], then
 * synchronously checks each iCheck
 *
 * Also goes through, sees if usersProfile == user
 * then does the appropriate iChecks
**/

var setList = [{{usersProfile.setList}}]
	
for (var i = 0; i < setList.length; i++) {
	var resourceID = setList[i].toString();
	$.ajax({
		type: 'GET',
		url: '/getCachedTrackObj/' +resourceID,
		async: false,
		success: function(trackObj) {
			$('ul.playlist').append(trackObj.encodedObjHTML);
		}
	});
}

var theTrackSet = [{{user.musicCollection.trackSets.list[0].setList}}];//create 'theTrackSet'
var theTrackSetLen = theTrackSet.length;
var trackSet = [];//ids on the page. Number type
var trackSetDOMNodes = document.querySelectorAll('li.track');
var trackSetLen = trackSetDOMNodes.length;
var inputs = document.querySelectorAll('li.track input');

for (var i = 0; i < trackSetLen; i++) {//trackSetIDs
	trackSet.push(parseInt(inputs[i].id));
}
for (var i = 0; i < trackSetLen; i++) {//put encodedobjhtml into li.track input[i]
	inputs.item(i).dataset.encodedobjhtml = encodeURIComponent(trackSetDOMNodes.item(i).outerHTML.toString());
}
$(inputs).iCheck({//instantiate iCheck
  checkboxClass: 'icheckbox_square-blue',
  increaseArea: '300%',
	aria: false
});
for (var i = 0; i < trackSetLen; i++) {//compare and iCheck any that match theTrackSet
	if(theTrackSet.indexOf(trackSet[i]) !== -1) {//match?
		var tempDiv = $('div.icheckbox_square-blue');           //!REFACTOR
		var tempDivInput = $('div.icheckbox_square-blue input');//!REFACTOR
		$(tempDiv[i]).addClass('checked');                      //!REFACTOR
		$(tempDivInput[i]).prop('checked', true);               //!REFACTOR
	}
};


//if this is the user's TS let them sort...
	$('.playlist').sortable({//initialize
		opacity: 0.97,
		tolerance: "pointer",
		cursor: 'move',
		start: function(event, ui) {
			ui.placeholder.css({visibility: 'visible', background: '#eee'});
		},
		update: function(event, ui) {
			
			var inputs = document.querySelectorAll('li.track input');
			var trackSet = [];
			var trackSetStringified;
			var username = '{{usersProfile.username}}';
			var permID = $('#trackSetName').attr('data-permid');
			for (var i = 0; i < inputs.length; i++) {
				trackSet.push(parseInt(inputs[i].id));
			}
			trackSetStringified = JSON.stringify({trackSet: trackSet});//gotta do this to pass in $.ajax
			console.log(trackSetStringified);
			console.log(trackSet);
			$.ajax({
				async: false,
				type: 'POST',
				url: '/' +username+ '/' +permID,
				data: trackSetStringified,
				contentType: 'application/json',
				success: function(data) {
				}
			});
	  }
	});


</script>
