
<script type="text/javascript" charset="utf-8">
/**
 * Accesses cachedTrackObj(DB) and appends results .playlist
 *
 * Grabs all track nodes
 * and stores their markup into
 * input[data-encodedobjhtml], then
 * synchronously checks each iCheck
 *
 * Also goes through, sees if usersProfile == user
 * then does the appropriate iChecks
**/

var setList = [{{setList}}]
	
for (var i = 0; i < setList.length; i++) {
	var resourceID = setList[i].toString();
	$.ajax({
		type: 'GET',
		url: '/getCachedTrackObj/' +resourceID,
		async: false,
		success: function(trackObj) {
			$('ul.playlist').append(trackObj.encodedObjHTML);
		}
	});
}

var theSetList = [{{user.musicCollection.trackSets.list[0].setList}}];//'theSetList' (used for comparison)
var theSetListLen = theSetList.length;
var setList = [];//ids on the page. Number type
var setListDOMNodes = document.querySelectorAll('li.track');
var setListLen = setListDOMNodes.length;
var inputs = document.querySelectorAll('li.track input');

for (var i = 0; i < setListLen; i++) {//setList
	setList.push(parseInt(inputs[i].id));
}
for (var i = 0; i < setListLen; i++) {//flash encodedobjhtml into li.track input[i]
	inputs.item(i).dataset.encodedobjhtml = encodeURIComponent(setListDOMNodes.item(i).outerHTML.toString());
}
$('li.track a input').attr('data-permid', 0);//flash permID into track
$(inputs).iCheck({//instantiate iCheck
  checkboxClass: 'icheckbox_square-blue',
  increaseArea: '300%',
	aria: false
});
for (var i = 0; i < setListLen; i++) {//compare and iCheck any that match theSetList
	if(theSetList.indexOf(setList[i]) !== -1) {//match?
		var tempDiv = $('div.icheckbox_square-blue');           //!REFACTOR
		var tempDivInput = $('div.icheckbox_square-blue input');//!REFACTOR
		$(tempDiv[i]).addClass('checked');                      //!REFACTOR
		$(tempDivInput[i]).prop('checked', true);               //!REFACTOR
	}
};
$('li.track a').each(function(i){//serialize each with 'data-id,' and 'data-permid'
	var track = $(this);

	track.attr('data-id', track.attr('id').replace('track', ''));
	track.attr('data-permid', {{permID}});
});
var toggle = true;//DELETE button (global)

function cutAndTape(e) {//e is the event; this func actually just does diff versions of taping depending on CUT, or TAPE command
	if ('{{usersProfile.username}}' === '{{user.username}}') {//if user's TS, let CUT & TAPE tracks
		var selectedLength = $('.selected').length;
		
		if (selectedLength > 0) {//at least one track's .selected
			e.preventDefault();//no back nav
			if (toggle) {//CUT from TS
				console.clear(); console.log('CUT');
				//empty setList
					//success:...
						$('li.track a').each(function(){
							var track = $(this);
							if(track.hasClass('selected') || track.hasClass('skipOver')){
								return true;//equiv to for-loop's continue statement. don't push this track
							}
							else {//tracks to save
								console.log(track.attr('data-permid'), track.attr('data-id'));
								//push!!!!!
							}
						});
			}
			else {//TAPE to TS
				console.clear(); console.log('TAPE');
				//empty setList
					//success:...
						$('li.track a').each(function(){
							var track = $(this);
							if(track.is(":not(.skipOver)") || track.hasClass('selected')){
								console.log(track.attr('data-permid'), track.attr('data-id'));
								//push!!!!!
		 					}
						});
			}
			toggle = !toggle;//flip toggle
		}
	}
}

if ('{{usersProfile.username}}' === '{{user.username}}') {//if user's TS, let SORT tracks
	$('.playlist').sortable({//initialize
		opacity: 0.97,
		tolerance: 'pointer',
		cursor: 'move',
		start: function(event, ui) {
			ui.placeholder.css({visibility: 'visible', background: '#eee'});
		},
		update: function(event, ui) {
			var inputs = document.querySelectorAll('li.track input');
			var setList = [];
			var setListStringified;
			var username = '{{user.username}}';
			var permID = $('#trackSetName').attr('data-permid');

			for (var i = 0; i < inputs.length; i++) {
				setList.push(parseInt(inputs[i].id));
			}
			setListStringified = JSON.stringify({setList: setList});//gotta do this to pass in $.ajax
			$.ajax({
				async: false,
				type: 'POST',
				url: '/postTrackSet/' +username+ '/' +permID,
				data: setListStringified,
				contentType: 'application/json',
				success: function(data) {
					console.log('SORT');
				}
			});
	  }
	});
}
</script>
