
<script type="text/javascript" charset="utf-8">

var tracks = $('li.track');                                          //
var trackAnchors = $('li.track a');                                    //
var inputs = $('li.track input[type="checkbox"]');                   //get info from DOM for processing; primarily hidden nodes
var trackSetLen = tracks.length;                                                             //
var theSetList = [{{user.musicCollection.trackSets.list[0].setList}}]
var permalinks = [];                                                                         

for(var i = 0; i<trackSetLen; i++){//call soundCloudResolveTrack on each track          //SC.initialize({
	permalinks[i] = $(trackAnchors[i]).attr('href');                              //  client_id: '212b7a5080f5d7f8e831583446771a02'
	soundCloudResolveTrack(permalinks, i, theSetList);                          					//});
}                                                                                       //
                                                                                        //// permalink to a track
/**                                                                                     //var track_url = 'https://soundcloud.com/platform/motor-city-drum-ensemble-55';
 * Communicates with SoundCloud API to                                                  //
 * get pertinent track data ('/resolve' endpoint)                                       //SC.get('/resolve', { url: track_url }, function(track) {
 *                                                                                      //  SC.get('/tracks/' + track.id + '/comments', function(comments) {
 * Populates track with that data                                                       //      console.log(track.id);
 *                                                                                      //  });
 * If user is logged, display <form/>                                                   //});
 * and if user has saved it, set 'checked' attr to iCheck                               
 *                                                                                      
 * @param {array} permalinks
 * @param {number} i
 * @param {array} theSetList
**/
function soundCloudResolveTrack(permalinks, i, theSetList) {
	var permalink = permalinks[i];//qed permalink
	var CLIENT_ID = '212b7a5080f5d7f8e831583446771a02';//SoundCloud API ID
	var URI = 'http://api.soundcloud.com/resolve.json?callback=?&url=' +permalink+ '&client_id=' +CLIENT_ID;//construct request url; 'callback' param specif. for Safari

	$.getJSON(URI, function(track) {//serialize with id • serialize with stream_url • flash DOM node for EOH • (...ready for iCheck)
		if (track.streamable){//if the track's streamable, we'll show it!
			var resourceID = track.id;
			var encodedObjHTML = '';

			$(tracks[i]).css('display', 'block');
			$(trackAnchors[i]).attr('id', 'track' +resourceID);															 								//serialize <A> with id!
			$(trackAnchors[i]).attr('href', track.stream_url+ '?consumer_key=' +CLIENT_ID);  								//serialize <A> with stream_ur!
			$(inputs[i]).attr('id', resourceID);    				 																 								//serialize INPUT with id!
			$(inputs[i]).attr('data-id', resourceID); 		   																 								//serialize INPUT with data-id!
			$(inputs[i]).attr('data-encodedobjhtml', encodeURIComponent($(tracks[i]).prop('outerHTML')));			//serialize INPUT with data-encodedobjhtml
			encodedObjHTML = $($('li.track a input')[i]).attr('data-encodedobjhtml');//flash EOH into 'data-encodedobjhtml'... now it's ready to iCheck
			$.ajax({//now cache the encodedObjHTML for rapid retrieval
				async: false,
				type: 'POST',
				url: '/postCachedTrackObj/' +resourceID+ '/' +encodedObjHTML,
				success: function(data) {
				  $('input#' +resourceID).iCheck({//manually init each iCheck ele
				    checkboxClass: 'icheckbox_square-blue',
				    increaseArea: '300%', // optional
						aria: false
				  });
					if (theSetList.indexOf(resourceID) !== -1) {//if user has already 'saved' then add 'checked' class and attr appropriately
						$('a#track' +resourceID+ ' div.icheckbox_square-blue').addClass('checked');
						$('a#track' +resourceID+ ' div.icheckbox_square-blue input').prop('checked', true);
					}
				}
			});
		}
		else {//all unstreamable tracks are removed from DOM
			tracks.item(i).parentNode.removeChild(tracks.item(i));
		}
	});
}
</script>