{% extends "layouts/general.html" %}

{% block center %}
<ul class="playlist col-xs-12 col-sm-12 col-md-12 col-lg-12">
	{% for track in trackSet %}
	{# {{track.seq}}, {{track.permachunk}}, {{track.permalink}}, {{track.trackTitle}}, {{track.albumArtURI}}, {{track.username}}, {{track.playCount}}, {{track.published}} #}
	<li class="track" style="display:none">
		<a id type="audio/mp3" href="http://soundcloud.com{{track.permachunk}}">
			<div class="leftPanel"></div>
			<div class="centerPanel">
				<img src="{{track.albumArtURI}}" width="100" height="100" class="art img-thumbnail">
				<div class="trackTitleNUsername">
					<p class="h3 trackTitle">{{track.trackTitle}}</p>
					<p class="h4 username">{{track.username}}</p>
				</div>
			</div>
			<div class="rightPanel">
				<form style="display:none">
					<input id="" data-id="" data-encodedobjhtml="" type="checkbox" name="iCheck" class="exclude">
				</form>
				<div class="meta"><p class="h5 date">{{track.published}} ago</p><p class="h5 playCount">{{track.playCount}}</p> </div>
			</div><!-- /.rightPanel -->
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}

{% block clientSideScripts %}{# order of snippets: important #}
{% include 'snippets/allJavascriptPlugins.html' %}
{% include 'snippets/listeners_KeyBindings.html' %}
{% include 'snippets/listeners_iCheck.html' %}
{% include 'snippets/listeners_Select.html' %}
{% include 'snippets/listeners_omniButton.html' %}
{% include 'search/searchPostProcess.html' %}
{% endblock %}
