<script src="/plugins/iCheck/icheck-1.0.1.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/plugins/iCheck/skins/square/blue.css" type="text/css" charset="utf-8">
<script>
$(document).ready(function(){
 //$('input').iCheck({
 //  checkboxClass: 'icheckbox_square-blue',
 //  radioClass: 'iradio_square-blue',
 //  increaseArea: '300%', // optional
 //	aria: false
 //});
});

// Listeners for 'check'
$('input[type="checkbox"]').on('ifChecked', function(event){
	var clicked = $(this); //get data-permalink value ('permalink')
	var resourceID = clicked.data('id');
	var encodedObjHTML = clicked.data('encodedobjhtml');
	$.ajax({
	  type: "POST",
	  url: "/save/" +resourceID+ "/" +encodedObjHTML,
		success: function(data) {
		  console.log('¶ Track saved: ' +resourceID);
  }});
});

// Listeners for 'uncheck'
$('input[type="checkbox"]').on('ifUnchecked', function(event){
	var clicked = $(this); //get data-permalink value ('permalink')
	var resourceID = clicked.data('id');
	$.ajax({
	  type: "POST",
	  url: "/remove/" +resourceID,
		success: function(data) {
			console.log('¶ Track removed: ' +resourceID);
  }});
});
</script>
