<script type="text/javascript" charset="utf-8"> //keybindings to control SoundManager. deps: jQ
window.keyCodeInfo = function(e) {
	var info = {}, target = $(e.target) || $(e.srcElement);
	if (!e) {
		e = window.event;
	}
	info.code = e.keyCode ? e.keyCode : e.which;
	info.shortcut = e.ctrlKey || e.altKey || e.metaKey;
	info.shiftKey = !! e.shiftKey;
	info.textarea = target.is('input') || target.is('textarea');
	return info;
};
$(window).bind('keyup', function(e) {
	var keyInfo = keyCodeInfo(e);
	if (!keyInfo.shortcut && !keyInfo.textarea) {
		if (keyInfo.code == 191 && keyInfo.shiftKey) {
			//toggleShowKeyboardShortcuts();
			return false;
		}
		if (keyInfo.code == 39) {//next track
			pagePlayer.playNext();
			return false;
		}
		if (keyInfo.code == 37) {//previous
			pagePlayer.playPrevious();
			return false;
		}
		if (keyInfo.code == 16) {//toggle the play state; whether there is a queued track or playing first track
			var qed = $('li.sm2_playing a, li.sm2_paused a').attr('id');
			if(qed){soundManager.togglePause(qed);}
			else{
				var firstTrack = $('ul.playlist li:first a')[0];
				pagePlayer.handleClick({target:firstTrack});
			}
			return false;
		}
		if (keyInfo.code == 51 && keyInfo.shiftKey) {//'?' shows shortcuts
			//focus $('#query')
			return false;
		}
	}
});
</script>