
<script>
// Listeners for 'check'
$('input[type="checkbox"]').on('ifChecked', function(event){
	var clicked = $(this); //get data-permalink value ('permalink')
	var resourceID = clicked.data('id');
	
	$.ajax({
	  type: "POST",
	  url: "/set/" +resourceID,
		async: false,
		success: function(data) {
		  console.log('♫ Track saved: ' +resourceID);
  }});
});

// Listeners for 'uncheck'
$('input[type="checkbox"]').on('ifUnchecked', function(event){
	var clicked = $(this); //get data-permalink value ('permalink')
	var resourceID = clicked.data('id');
	
	$.ajax({
	  type: "POST",
	  url: "/deset/" +resourceID,
		async: false,
		success: function(data) {
			console.log('♫ Track removed: ' +resourceID);
  }});
});
</script>
