<script type="text/javascript">
$('.leftPanel')
	.click(function (e) {
	  e.preventDefault();
	  e.stopPropagation();
	  $(this).parent().toggleClass("selected");
	})
  //.hover(function () {
  //  $(this).parent().addClass("hover");
  //}, function () {
  //  $(this).parent().removeClass("hover");
  //})
	.drag("start", function (e, dd) {
	  return $('<div class="selection" />')
	    .css('opacity', .5)
	    .appendTo(document.body);
	})
  .drag(function (e, dd) {
    $(dd.proxy).css({
      top: Math.min(e.pageY, dd.startY),
      left: Math.min(e.pageX, dd.startX),
      height: Math.abs(e.pageY - dd.startY),
      width: Math.abs(e.pageX - dd.startX)
    });
  })
  .drag("end", function (e, dd) {
    $(dd.proxy).remove();
  })
  //.drop("start", function () {
  //  $(this).parent().addClass("hover");
  //})
  .drop(function (e, dd) {
    $(this).parent().toggleClass("selected");
  });
  //.drop("end", function () {
  //  $(this).parent().removeClass("hover");
  //});
$.drop({
  multi: true
});
</script>
<style type="text/css">
.selection {
	position: absolute;
	border: 1px solid #357fbe;
	background: #357fbe;
	z-index:10000;
	}
.selected {
	/*Source: http://ptrn.it/1hQiv0N*/
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAIUlEQVQIW2M0qt1nzPiX5dl/5j9SjMZVhyTBDKAAI7IMAEI/EMwXx7P2AAAAAElFTkSuQmCC');
}
/*.leftPanel.selected.hover {
	background-color: #EBC;
	border-color: #B89;
}
.leftPanel.hover {
	background-color: #CEB;
	border-color: #9B8;
}*/
</style>
