<script type="text/javascript">
$('.leftPanel')
	.click(function (e) {
	  e.preventDefault();
	  e.stopPropagation();
	  $(this).parent().toggleClass("selected");
	})
  //.hover(function () {
  //  $(this).parent().addClass("hover");
  //}, function () {
  //  $(this).parent().removeClass("hover");
  //})
	.drag("start", function (e, dd) {
	  return $('<div class="selection" />')
	    .css('opacity', .65)
	    .appendTo(document.body);
	})
  .drag(function (e, dd) {
    $(dd.proxy).css({
      top: Math.min(e.pageY, dd.startY),
      left: Math.min(e.pageX, dd.startX),
      height: Math.abs(e.pageY - dd.startY),
      width: Math.abs(e.pageX - dd.startX)
    });
  })
  .drag("end", function (e, dd) {
    $(dd.proxy).remove();
  })
  //.drop("start", function () {
  //  $(this).parent().addClass("hover");
  //})
  .drop(function (e, dd) {
    $(this).parent().toggleClass("selected");
  });
  //.drop("end", function () {
  //  $(this).parent().removeClass("hover");
  //});
$.drop({
  multi: true
});
</script>
<style type="text/css">
.selection {
	position: absolute;
	border: 1px solid #428bca;
	background: #428bca;
	z-index:10000;
	opacity:0.3;
	}
.selected {
	background-color: #ccc !important;
}	
/*.leftPanel.selected.hover {  
	background-color: #EBC;
	border-color: #B89;
}
.leftPanel.hover {  
	background-color: #CEB;
	border-color: #9B8;
}*/
</style>