<script type="text/javascript" charset="utf-8"> //keybindings to control SoundManager. deps: jQ
$(document).bind('keyup', 'alt', function(){//inverse .selected
		var tracks = $('li.track a');
		$.each(tracks, function (i, track) {
			$(track).toggleClass('selected');
		});
		return false;
});
window.keyCodeInfo = function(e) {
	var info = {}, target = $(e.target) || $(e.srcElement);
	if (!e) {
		e = window.event;  
	}
	info.code = e.keyCode ? e.keyCode : e.which;
	info.shortcut = e.ctrlKey || e.altKey || e.metaKey;
	info.shiftKey = !! e.shiftKey;
	info.textarea = target.is('input') || target.is('textarea');
	return info;
};
$(window).bind('keyup', function(e) {
	var keyInfo = keyCodeInfo(e);
	if (!keyInfo.shortcut && !keyInfo.textarea) {
		if (keyInfo.code == 191 && keyInfo.shiftKey) {
			//toggleShowKeyboardShortcuts();
			return false;
		}
		if (keyInfo.code == 39) {//'right arrow' ==/> next track
			pagePlayer.playNext();
			return false;
		}
		if (keyInfo.code == 37) {//'left arrow' </== previous track
			pagePlayer.playPrevious();
			return false;
		}
		if (keyInfo.code == 32) {//'space bar' toggle play-pause
			var qed = $('li.sm2_playing a, li.sm2_paused a').attr('id');
			if(qed){soundManager.togglePause(qed);}
			else{
				var firstTrack = $('ul.playlist li:first a')[0];
				pagePlayer.handleClick({target:firstTrack});
			}
			return false;
		}

		if (keyInfo.code == 51 && keyInfo.shiftKey) {//'?' shows shortcuts
			//focus $('#query')
			return false;
		}
	}
});
$(window).bind('keydown', function(e) {
	var keyInfo = keyCodeInfo(e);
	if (!keyInfo.shortcut && !keyInfo.textarea) {
		if (keyInfo.code == 32) {//prevents 'spacebar' scrolls
			e.preventDefault();
			return false;
		}
	}
});
</script>
