
<script type="text/javascript" charset="utf-8">
var tracks = document.querySelectorAll('li.track');
var trackHREFs = document.querySelectorAll('li.track a');
var inputs = document.querySelectorAll('li.track input[type="checkbox"]');
var trackSet = tracks.length;
var userResourceIDs = [];
var permalinks = [];

{% for track in user.profile.playlists.playlist1 %}//use Nunjucks to push user 'saves'
	userResourceIDs.push({{track.resourceID | safe}});
{% endfor %}

if (userResourceIDs.length !== 0) {//logged in? then show <form/>
	$(".rightPanel form").css("display", "table-cell");		
};

for(var i = 0; i<trackSet; i++){//call soundCloudResolveTrack on each track
	permalinks[i] = trackHREFs.item(i).getAttribute('href');
	soundCloudResolveTrack(permalinks, i, userResourceIDs);
}

/**
 * Communicates with SoundCloud API to
 * get pertinent track data ('/resolve' endpoint)
 * 
 * Populates track with that data
 * 
 * If user is logged, display <form/>
 * and if user has saved it, set 'checked' attr
 * 
 * @param {array} permalinks
 * @param {number} i
 * @param {array} userResourceIDs
 */
function soundCloudResolveTrack(permalinks, i, userResourceIDs) {

	var permalink = permalinks[i];//qed permalink
	var CLIENT_ID = '212b7a5080f5d7f8e831583446771a02';//SoundCloud API ID
	var URI = 'http://api.soundcloud.com/resolve.json?callback=?&url=' +permalink+ '&client_id=' +CLIENT_ID;//construct request url; 'callback' param specif. for Safari

	$.getJSON(URI, function(track) {
		if (track.streamable){//if the track's streamable, we'll show it!
			trackHREFs.item(i).id = 'track' +track.id; //serialize each with `track.id`
			inputs.item(i).id = track.id;//also serialize each input for db interaction
			inputs.item(i).dataset.id = track.id;
			trackHREFs.item(i).setAttribute('href', track.stream_url+ '?consumer_key=' +CLIENT_ID); //populate HREF
			tracks.item(i).style.display = 'block'; //reveal to user
			inputs.item(i).dataset.encodedobjhtml = encodeURIComponent(tracks.item(i).outerHTML.toString()); 
		  $('input#' +track.id).iCheck({
		    checkboxClass: 'icheckbox_square-blue',
		    increaseArea: '300%', // optional
				aria: false
		  });
			if ($.inArray(track.id, userResourceIDs) !== -1) {//add 'check' attr?
				$('a#track' +track.id+ ' div.icheckbox_square-blue').addClass('checked');
				$('a#track' +track.id+ ' div.icheckbox_square-blue input').prop('checked', true);;
			}				
		}
		else {//but non-streamable li.tracks are removed from DOM
			tracks.item(i).parentNode.removeChild(tracks.item(i));
		}
	});
}
</script>