<script type="text/javascript" charset="utf-8"> //communicate with SoundCloud API
var tracks = document.querySelectorAll('li.track'),
	trackHREFs = document.querySelectorAll('li.track a'),
	inputs = document.querySelectorAll('li.track input[type="checkbox"]'),
	trackSet = tracks.length,
	userResourceIDs = [],
	permalinks = [];

	{% for track in user.profile.playlists.playlist1 %}
		userResourceIDs.push({{track.resourceID | safe}});
	{% endfor %}

for(var i = 0; i<trackSet; i++){
	permalinks[i] = trackHREFs.item(i).getAttribute('href');
	SCResolve(permalinks, i, userResourceIDs);
}

function SCResolve(permalinks, i, userResourceIDs) {
	var permalink = permalinks[i],
		CLIENT_ID = '212b7a5080f5d7f8e831583446771a02',
		URI = 'http://api.soundcloud.com/resolve.json?callback=?&url=' +permalink+ '&client_id=' +CLIENT_ID; //callback param enables CROSS-DOMAIN (specif. for Safari)

	$.getJSON(URI, function(track) {
		if (track.streamable){//get relevant info from SoundCloud API
			trackHREFs.item(i).id = 'track' +track.id; //serialize each with `track.id`
			inputs.item(i).id = track.id;//also serialize each input for db interaction
			inputs.item(i).dataset.id = track.id;
			trackHREFs.item(i).setAttribute('href', track.stream_url+ '?consumer_key=' +CLIENT_ID); //populate HREF
			tracks.item(i).style.display = 'block'; //reveal to user
			inputs.item(i).dataset.encodedobjhtml = encodeURIComponent(tracks.item(i).outerHTML.toString()); 
		  $('input#' +track.id).iCheck({
		    checkboxClass: 'icheckbox_square-blue',
		    increaseArea: '300%', // optional
				aria: false
		  });
			if ($.inArray(track.id, userResourceIDs) !== -1) { //if any results match user's saves; add 'checked' attr
				$('a#track' +track.id+ ' div.icheckbox_square-blue').addClass('checked');
				$('a#track' +track.id+ ' div.icheckbox_square-blue input').prop('checked', true);;
			}

		}
		else {//non-streamable li.tracks are removed from DOM
			tracks.item(i).parentNode.removeChild(tracks.item(i));
		}
	});
}
</script>